@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swa);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: grey;
}

/* navigation bar  */
.navigation-bar {
  background-color: #EEEEEE;
  color: black;
  margin-right: 0;
}

.container-fluid {
  padding: 0 10%;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 400;
  color: black;
  font-family: 'Anton', sans-serif;
}

.navbar-brand:hover {
  color: grey;
}

.nav-item {
  text-decoration: none;
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
}

.nav-link:hover {
  color: grey;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:grey ;
}

.box {
  position: relative;
  width: 23.75rem;
  height: 26.25rem;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 23.75rem;
  height: 26.25rem;
  background: linear-gradient(0deg, transparent, #EEEEEE, #EEEEEE);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 23.75rem;
  height: 26.25rem;
  background: linear-gradient(0deg, transparent, #EEEEEE, #EEEEEE);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  background: #EEEEEE;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.form h2 {
  color: black;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: grey;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: grey;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
  color: black;
}

input[type="submit"] {
  border: none;
  outline: none;
  background: grey;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

/* footer section */
.footer {
  background-color: #EEEEEE;
  ;
  text-align: center;
  font-size: 0.8rem;
}

#contacts {
  padding: 60px;
}

.footer-icons {
  color: black;
  padding: 0 10px 10px 10px;
}

.footer-icons:hover {
  color: grey;
}

@media (max-width: 450px) {
  .box {
    width: 80%;
    height: 500px;
  }

  .box::before {
    width: 80%;
    height: 500px;
  }

  .box::after {
    width: 80%;
    height: 500px;
  }

  .form {
    padding-top: 30px;
  }

  .form h2 {
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .inputBox {
    width: 100%;
    margin: 50px 0 5px;
  }

  .inputBox input {
    font-size: 0.8rem;
  }

  .inputBox span {
    font-size: 0.85rem;
  }

  .inputBox input:valid~span,
  .inputBox input:focus~span {
    font-size: 0.85rem;
    transform: translateX(0px) translateY(-44px)
  }

  .inputBox input:valid~i,
  .inputBox input:focus~i {
    height: 54px;
  }

  .links a {
    margin: 20px 0;
    font-size: 0.75rem;
  }

  input[type="submit"] {
    padding: 10px 20px;
    width: 60%;
    margin: 40px auto auto auto;
    border-radius: 4px;
    font-size: 1rem;
  }
}
