body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h2 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h3 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 900;
}

/* title section */
.title {
  background-color: #EEEEEE;
  color: black;
  margin-right: 0;
}

.container-fluid {
  padding: 1% 10% 3%;
}

/* navigation bar  */
.navbar {
  padding: 0 0 3rem;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 400;
  color: black;
  font-family: 'Anton', sans-serif;
}

.nav-item {
  text-decoration: none;
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
}

.nav-link:hover {
  color: grey;
}

.download-button {
  margin: 3% 2% 3% 0;
}

.title-image {
  width: 70%;
  margin: 10% 10% 10% 10%;
  position: absolute;
}

/* rotatation of the image */
.rotated {
  transform: rotate(30deg);
}

/* feautres section */
.features {
  text-align: center;
  padding: 3% 10%;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icons {
  color: black;
  padding: 5%;
}

.icons:hover {
  color: grey;
}

/*testimonial section */
.testimonial {
  background-color: #EEEEEE;
  text-align: center;
  color: black;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.carousel-item {
  padding: 5% 15%;
}

/* press section */
.press {
  background-color: #EEEEEE;
  ;
  text-align: center;
}

.press-logo {
  width: 20%;
  padding: 20px;
  margin: 5px;
}

/* pricing */
.pricing {
  text-align: center;
  padding: 80px;
}

.pricing-column {
  padding: 2% 3%;
}

.cart-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.cart-link:hover {
  color: white;
}

/* Call to Action */
.cta {
  background-color: #EEEEEE;
  padding: 8% 0 7% 0;
  text-align: center;
  color: black;
}

/* footer */
.footer {
  margin: 60px auto 0;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 0.8rem;
}

#contacts {
  padding: 50px;
}

.footer-icons {
  color: black;
  padding: 0 10px 10px 10px;
}

@media (max-width: 991.3px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
  }

  .rotated {
    transform: rotate(0);
  }

  .press-logo {
    width: 40%;
    padding: 5px;
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .h2, .h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.4rem;
  }

  .title {
    text-align: center;
  }

  .big-heading {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 900;
  }

  .title-image {
    position: static;
  }

  .rotated {
    transform: rotate(0);
  }

  .press-logo {
    width: 40%;
    padding: 5px;
    margin: 5px;
  }

  .cta {
    padding: 15%;
  }

  .btn {
    font-size: small;
  }
}
